h1{
    font-family: love ;
    color: rgb(177, 14, 14);
}

body{
    background-color: rgb(29, 157, 173);
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

img{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 10px;}

    h3{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(0, 0, 0);
    }

